In [25]:
#Imports all required packages from saved location
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
import matplotlib.mlab as mlab
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
import seaborn as sns
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
#import lightgbm as lgb

In [26]:
dataset = pd.read_csv ('/Users/charlieargent/Desktop/University of Exeter/Year 3/AI Project/dataset.csv')

dataset.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

Selecting Features
=================
Selecting features based on importance - following Ellie and Lewis' original analysis, will use uploaded functions once Lewis has put up on GitHub.

In [27]:
'''Selecting features - dropping uninteresting columns'''

def chose_features(dataset, features=dataset.columns, n_features = -1, v=1, vv =0):
    '''Return reduced dataset with only chosen columns
    - dataset: pandas dataframe of dataset to have columns chosen
    - features (optional, default = all features): list of strings matching features to keep
    - n_features (optional) - if specified, the top n features from the scaled list is chosen: 
    ['glucose', 'age', 'totChol', 'cigsPerDay', 'diaBP', 'prevalentHyp',
        'diabetes', 'BPMeds', 'male', 'BMI', 'prevalentStroke',
        'education', 'heartRate', 'currentSmoker'],
    - v (optional) - Verbose (default 1) int 0 or 1. Print no. of features kept and lost 
    - vv (optional) - Very verbose (default 0) int 0 or 1. Print list of chosen and rejected features
    '''
                
    print('Now selecting chosen features....')
    
    if n_features != -1:
        if n_features > len(dataset.columns):
            print('WARNING: chose_features has an error: n_features must be less than no. columns')
            return(-1)
        else:
            ordered_f = ['TenYearCHD','glucose', 'age', 'totChol', 'cigsPerDay', 'diaBP', 'prevalentHyp',
            'diabetes', 'BPMeds', 'male', 'BMI', 'sysBP','prevalentStroke',
            'education', 'heartRate', 'currentSmoker']
            features = ordered_f[0:n_features]

    if v == 1: 
        print('\t * Number of features: ', len(features))
        print('\t * Number of dropped features: ', len(dataset.columns) - len(features))
        
    if vv == 1:
        print('\t * Chosen features: ', features)
        print('\t * Dropped features: ',[col for col in dataset.columns if col not in features])
    print('')
    
    return dataset.copy()[features] #reduced dataset

#chose_features(dataset, features=['TenYearCHD','glucose', 'age'],vv=1)
#^Example of calling the func, pulls just the three features labeled, and vv=1 gives extra detail to the level of selection

In [28]:
#10 most important features, from Ellie's 'graph_analysis_EB', plus TenYearCHD 

features = ['sysBP', 'age', 'cigsPerDay', 'totChol', 'diaBP', 'prevalentHyp',
       'diabetes', 'BPMeds', 'male', 'BMI', 'TenYearCHD'] 
Top10 = chose_features(dataset, features=features, vv=1)
Top10.head(10)

Now selecting chosen features....
	 * Number of features:  11
	 * Number of dropped features:  5
	 * Chosen features:  ['sysBP', 'age', 'cigsPerDay', 'totChol', 'diaBP', 'prevalentHyp', 'diabetes', 'BPMeds', 'male', 'BMI', 'TenYearCHD']
	 * Dropped features:  ['education', 'currentSmoker', 'prevalentStroke', 'heartRate', 'glucose']

,sysBP,age,cigsPerDay,totChol,diaBP,prevalentHyp,diabetes,BPMeds,male,BMI,TenYearCHD
0,106.0,39,0.0,195.0,70.0,0,0,0.0,1,26.97,0
1,121.0,46,0.0,250.0,81.0,0,0,0.0,0,28.73,0
2,127.5,48,20.0,245.0,80.0,0,0,0.0,1,25.34,0
3,150.0,61,30.0,225.0,95.0,1,0,0.0,0,28.58,1
4,130.0,46,23.0,285.0,84.0,0,0,0.0,0,23.10,0
5,180.0,43,0.0,228.0,110.0,1,0,0.0,0,30.30,0
6,138.0,63,0.0,205.0,71.0,0,0,0.0,0,33.11,1
7,100.0,45,20.0,313.0,71.0,0,0,0.0,0,21.68,0
8,141.5,52,0.0,260.0,89.0,1,0,0.0,1,26.36,0
9,162.0,43,30.0,225.0,107.0,1,0,0.0,1,23.61,0

Dealing with missing values
====================

Removing missing values, now using the function created by Lewis, and then replacing missing values with the median

In [29]:
'''Dealing with missing values'''

#Method 1: Drop missing values
def drop_missing(dataset):
    '''Drop rows with any missing values and return dataset with dropped rows. Prints number and percentage of rows dropped
    - Dataset: pandas Dataframe
    '''
    print('Now dropping rows with missing values....')
    dataset2 = dataset.copy().dropna().reset_index(drop=True)
    lost = len(dataset) - len(dataset2)
    print('\t * Dropped {} rows {:.1f}%. {} rows remaining\n'.format(lost,lost/len(dataset)*100,len(dataset2)))
    return dataset2

In [30]:
#if using the entire data set
col_interestedin1 = dataset.columns
values_removed1 = drop_missing(chose_features(dataset,col_interestedin1, vv =1))

Now selecting chosen features....
	 * Number of features:  16
	 * Number of dropped features:  0
	 * Chosen features:  Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')
	 * Dropped features:  []

Now dropping rows with missing values....
	 * Dropped 582 rows 13.7%. 3658 rows remaining

In [31]:
##e.g. if using top 10 most important columns 
col_interestedin2 = ['TenYearCHD','sysBP', 'age', 'cigsPerDay', 'totChol', 'diaBP', 'prevalentHyp',
       'diabetes', 'BPMeds', 'male', 'BMI'] # this is top 10 features from Ellie's 'graph_analysis_EB'
values_removed2 = drop_missing(chose_features(dataset,col_interestedin2, vv =1))

Now selecting chosen features....
	 * Number of features:  11
	 * Number of dropped features:  5
	 * Chosen features:  ['TenYearCHD', 'sysBP', 'age', 'cigsPerDay', 'totChol', 'diaBP', 'prevalentHyp', 'diabetes', 'BPMeds', 'male', 'BMI']
	 * Dropped features:  ['education', 'currentSmoker', 'prevalentStroke', 'heartRate', 'glucose']

Now dropping rows with missing values....
	 * Dropped 149 rows 3.5%. 4091 rows remaining

In [32]:
#Method 2: Imputation (of mean or median)
def impute_missing(dataset, strategy = 'median', v=1, vv=0):
    '''Imputation - alternative to removing missing values.
    Fill all missing with column average (median or mean)
    dataset - Pandas Dataframe to be imputed
    strategy - str (optional) 'median' (default) or 'mean' to fill missing values with
    - v (optional) - Verbose (default 1) int 0 or 1. Print no. of missing and imputed values  
    - vv (optional) - Very verbose (default 0) int 0 or 1. Print list of imputed features with counts and replaced value
    '''
    from sklearn.impute import SimpleImputer
    my_imputer = SimpleImputer(strategy=strategy)
    dataset2 = pd.DataFrame(my_imputer.fit_transform(dataset),columns=dataset.columns)
    
    if v == 1: 
        print('Imputing missing values with {}....'.format(strategy))
        print('\t * Number of missing values: ', dataset.isna().sum().sum())
        print('\t * Number of imputed values: ', dataset.isna().sum().sum() - dataset2.isna().sum().sum())
        print('\n')
    if vv == 1:
        subbed = pd.DataFrame(dataset.isna().sum().sort_values(ascending=False),columns=['N_missing'])
        subbed= subbed.assign(Imputed_value=np.NaN)
        for col in subbed.index:
            if strategy == 'median':
                subbed.loc[col,'Imputed_value'] = dataset[col].median()
            elif strategy == 'mean':
                subbed.loc[[col,'Imputed_value']] = dataset[col].mean()
        print(subbed)
    
    return dataset2

In [33]:
#if using the entire data set
col_interestedin1 = dataset.columns
values_replaced1 = impute_missing(chose_features(dataset,col_interestedin1), vv=1)

Now selecting chosen features....
	 * Number of features:  16
	 * Number of dropped features:  0

Imputing missing values with median....
	 * Number of missing values:  645
	 * Number of imputed values:  645


                 N_missing  Imputed_value
glucose                388           78.0
education              105            2.0
BPMeds                  53            0.0
totChol                 50          234.0
cigsPerDay              29            0.0
BMI                     19           25.4
heartRate                1           75.0
TenYearCHD               0            0.0
diaBP                    0           82.0
sysBP                    0          128.0
diabetes                 0            0.0
prevalentHyp             0            0.0
prevalentStroke          0            0.0
currentSmoker            0            0.0
age                      0           49.0
male                     0            0.0

In [34]:
##e.g. if using top 10 most important columns 
col_interestedin2 = ['TenYearCHD','sysBP', 'age', 'cigsPerDay', 'totChol', 'diaBP', 'prevalentHyp',
       'diabetes', 'BPMeds', 'male', 'BMI'] # this is top 10 features from Ellie's 'graph_analysis_EB'
values_replaced2 = impute_missing(chose_features(dataset,col_interestedin2), vv=1)

Now selecting chosen features....
	 * Number of features:  11
	 * Number of dropped features:  5

Imputing missing values with median....
	 * Number of missing values:  151
	 * Number of imputed values:  151


              N_missing  Imputed_value
BPMeds               53            0.0
totChol              50          234.0
cigsPerDay           29            0.0
BMI                  19           25.4
male                  0            0.0
diabetes              0            0.0
prevalentHyp          0            0.0
diaBP                 0           82.0
age                   0           49.0
sysBP                 0          128.0
TenYearCHD            0            0.0

Feature Scaling
=====

Normalising the data between 0 and 1 for increased algorithm efficiency, ensures all the data sits within the same range

In [35]:
def scale_data(data, method='std'):
    '''Return dataset scaled by MinMaxScalar or StandardScalar methods from sklearn.preprocessing
    - data: pandas dataframe of data to be scaled
    - method (optional): str of either 'minmax' for MinMaxScalar or 'std' for StandardScaler (default arg)
    '''
    from sklearn import preprocessing
    
    if method == 'minmax':
        scaler_minmax = preprocessing.MinMaxScaler((0,1))
        return pd.DataFrame(scaler_minmax.fit_transform(data.copy()),columns=data.columns) 
    
    elif method == 'std':
        scaler_std = preprocessing.StandardScaler() #with_std=False
        return pd.DataFrame(scaler_std.fit_transform(dataset.copy()),columns=dataset.columns)
    
    else:
        print('\nscale_data encountered a failure!!\n')
        return(-1)

In [36]:
##e.g. scales the whole dataset
scale_1 = scale_data(dataset)
scale_1

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1.153113,-1.234283,1.981583,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,-0.935261,-1.196267,-1.083027,0.286614,0.342735,-0.207240,-0.423188
1,-0.867217,-0.417664,0.020160,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,0.298311,-0.515399,-0.159355,0.718054,1.590247,-0.248992,-0.423188
2,1.153113,-0.184345,-0.960552,1.011863,0.922240,-0.174698,-0.077014,-0.671241,-0.162437,0.186168,-0.220356,-0.243325,-0.112959,-0.073103,-0.499501,-0.423188
3,-0.867217,1.332233,1.000871,1.011863,1.761092,-0.174698,-0.077014,1.489778,-0.162437,-0.262404,0.800946,1.016227,0.681284,-0.904778,0.878299,2.363017
4,-0.867217,-0.417664,1.000871,1.011863,1.173896,-0.174698,-0.077014,-0.671241,-0.162437,1.083311,-0.106878,0.092555,-0.662065,0.758572,0.126772,-0.423188
5,-0.867217,-0.767644,0.020160,-0.988276,-0.755465,-0.174698,-0.077014,1.489778,-0.162437,-0.195118,2.162682,2.275780,1.102919,0.093232,0.711293,-0.423188
6,-0.867217,1.565553,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,-0.710975,0.256252,-0.999057,1.791753,-1.320615,0.126772,2.363017
7,-0.867217,-0.534324,0.020160,1.011863,0.922240,-0.174698,-0.077014,-0.671241,-0.162437,1.711312,-1.468614,-0.999057,-1.010159,0.259567,-0.165489,-0.423188
8,1.153113,0.282295,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,1.489778,-0.162437,0.522597,0.415121,0.512406,0.137080,0.010065,-0.123737,-0.423188
9,1.153113,-0.767644,-0.960552,1.011863,1.761092,-0.174698,-0.077014,1.489778,-0.162437,-0.262404,1.345640,2.023869,-0.537046,1.423912,0.252027,-0.423188
10,-0.867217,0.048975,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,0.388025,0.029296,-0.579206,-0.708641,-0.073103,-0.248992,-0.423188
11,-0.867217,-0.767644,0.020160,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,0.231025,-0.061487,0.428436,0.450855,-0.322605,-0.875264,-0.423188
12,1.153113,-0.417664,-0.960552,1.011863,0.502814,-0.174698,-0.077014,1.489778,-0.162437,1.285169,0.437816,0.932257,0.124823,1.839750,-0.750010,-0.423188
13,-0.867217,-1.000963,1.000871,-0.988276,-0.755465,5.724171,-0.077014,1.489778,-0.162437,2.137455,-0.379225,0.428436,1.350507,-0.904778,0.085020,-0.423188
14,-0.867217,-1.234283,0.020160,1.011863,-0.000498,-0.174698,-0.077014,-0.671241,-0.162437,-0.239975,-0.833137,-1.586848,-0.845918,0.758572,NaN,-0.423188
15,-0.867217,-1.350943,0.020160,1.011863,0.922240,-0.174698,-0.077014,1.489778,-0.162437,-0.352118,0.347034,0.596376,-1.091055,1.590247,-0.499501,2.363017
16,1.153113,-0.184345,1.000871,1.011863,0.083387,-0.174698,-0.077014,1.489778,-0.162437,-0.105404,0.256252,0.596376,-0.841015,-0.987945,-0.415998,-0.423188
17,-0.867217,-0.417664,0.020160,1.011863,0.922240,-0.174698,-0.077014,-0.671241,-0.162437,1.217883,-0.923920,-0.411266,-0.593427,0.342735,0.293778,2.363017
18,-0.867217,-1.350943,0.020160,1.011863,-0.336039,-0.174698,-0.077014,-0.671241,-0.162437,-0.935261,-0.470008,0.134540,-0.627746,-0.073103,-0.165489,-0.423188
19,1.153113,-1.000963,0.020160,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,-0.935261,0.301643,0.428436,0.264551,0.758572,-0.708258,-0.423188
20,-0.867217,-0.884303,0.020160,1.011863,1.761092,-0.174698,-0.077014,-0.671241,-0.162437,-1.047404,-1.105485,-1.041042,-1.032222,-0.322605,0.126772,-0.423188
21,-0.867217,-0.767644,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,-1.159547,-0.401921,-0.453251,1.002413,-0.488940,NaN,-0.423188
22,-0.867217,0.282295,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,-0.060546,0.710164,-0.411266,2.051598,-0.488940,1.295814,-0.423188
23,-0.867217,0.282295,1.000871,1.011863,0.922240,-0.174698,-0.077014,-0.671241,-0.162437,-0.486690,-0.016096,-0.075385,-0.169341,-0.405773,-0.290743,-0.423188
24,1.153113,-0.650984,0.020160,1.011863,1.761092,-0.174698,-0.077014,1.489778,-0.162437,0.746883,0.233556,0.596376,-0.941521,-0.073103,0.043269,-0.423188
25,1.153113,-0.301004,1.981583,1.011863,0.922240,-0.174698,-0.077014,-0.671241,-0.162437,1.285169,-1.377832,-1.250968,-0.397318,-1.154280,-0.666507,2.363017
26,-0.867217,1.215573,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,0.522597,-1.014702,-0.873102,0.193462,-0.904778,NaN,-0.423188
27,1.153113,-1.700922,0.020160,1.011863,0.922240,-0.174698,-0.077014,1.489778,-0.162437,-0.262404,-0.016096,0.680347,0.070893,-0.239438,0.043269,-0.423188
28,-0.867217,1.332233,1.000871,-0.988276,-0.755465,-0.174698,-0.077014,1.489778,-0.162437,0.791740,2.253464,3.199452,1.715760,0.758572,-0.708258,2.363017
29,-0.867217,1.215573,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,0.231025,-0.106878,0.428436,1.117627,-0.322605,-0.332495,-0.423188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4210,1.153113,0.048975,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,1.016026,-0.265747,0.428436,0.367509,0.758572,0.210275,-0.423188
4211,1.153113,-0.884303,0.020160,1.011863,2.599945,-0.174698,-0.077014,-0.671241,-0.162437,0.186168,-1.241658,-1.083027,-0.831210,-0.904778,-0.541252,-0.423188
4212,1.153113,-0.184345,0.020160,1.011863,2.851601,-0.174698,-0.077014,1.489778,-0.162437,-0.621261,0.528599,0.428436,0.811206,0.675405,-0.917016,-0.423188
4213,1.153113,-0.184345,0.020160,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,-0.980118,0.392425,1.016227,0.512139,-0.073103,0.085020,2.363017
4214,-0.867217,0.748934,1.000871,1.011863,-0.336039,-0.174698,-0.077014,-0.671241,-0.162437,-0.150261,-0.424616,-0.369281,-0.267395,0.010065,0.210275,2.363017
4215,-0.867217,1.565553,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,1.489778,6.156223,-0.015689,1.027902,-0.075385,3.277281,0.176400,-0.123737,-0.423188
4216,-0.867217,1.098914,1.000871,1.011863,0.922240,-0.174698,-0.077014,-0.671241,-0.162437,0.320739,-0.333834,-0.243325,-0.887591,-0.488940,-0.499501,-0.423188
4217,-0.867217,1.565553,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,1.489778,-0.162437,0.657168,1.572596,0.932257,-0.139924,1.590247,0.502536,-0.423188
4218,-0.867217,0.282295,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,0.634740,0.233556,0.134540,0.271905,-0.322605,0.168524,-0.423188
4219,1.153113,-0.184345,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,-0.733404,-0.333834,0.134540,-0.841015,-0.904778,-0.290743,-0.423188
4220,1.153113,1.215573,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,0.343168,-0.197660,-0.075385,-1.132728,-0.073103,-0.499501,2.363017
4221,1.153113,0.048975,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,0.522597,-0.606181,-0.747146,-0.968486,0.342735,-0.415998,2.363017
4222,1.153113,0.398955,1.000871,-0.988276,-0.755465,-0.174698,-0.077014,1.489778,-0.162437,1.173026,2.525812,2.275780,0.220427,-0.488940,-0.791761,-0.423188
4223,1.153113,0.748934,1.981583,-0.988276,-0.755465,5.724171,-0.077014,1.489778,-0.162437,1.128168,0.755555,1.268138,-1.010159,1.174410,-0.290743,2.363017
4224,1.153113,-0.301004,0.020160,1.011863,-0.503810,-0.174698,-0.077014,-0.671241,-0.162437,-0.867975,-0.560790,-0.243325,-0.139924,-0.073103,-0.248992,-0.423188
4225,1.153113,-0.534324,1.981583,1.011863,2.851601,-0.174698,-0.077014,-0.671241,-0.162437,-0.464261,0.233556,0.176526,-0.382610,0.592237,0.961802,-0.423188
4226,1.153113,0.982254,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,-0.082975,-0.311138,0.092555,0.061088,-0.738443,-0.248992,2.363017
4227,1.153113,-0.767644,1.981583,1.011863,0.922240,-0.174698,-0.077014,-0.671241,-0.162437,-1.114690,-0.129574,0.428436,-0.044321,0.342735,-0.290743,-0.423188
4228,-0.867217,0.048975,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,1.489778,6.156223,0.522597,2.616594,3.955184,4.380396,0.758572,7.433288,-0.423188
4229,-0.867217,0.165635,1.000871,1.011863,0.922240,-0.174698,-0.077014,1.489778,-0.162437,0.320739,0.347034,-0.243325,-0.049224,-0.073103,NaN,-0.423188
4230,-0.867217,0.748934,-0.960552,1.011863,-0.503810,-0.174698,-0.077014,1.489778,-0.162437,0.702025,1.708770,1.604019,-0.713544,-1.570117,NaN,-0.423188
4231,1.153113,0.982254,1.000871,-0.988276,-0.755465,-0.174698,-0.077014,1.489778,-0.162437,-1.114690,0.392425,-0.159355,-0.206111,0.342735,-0.040234,-0.423188
4232,1.153113,2.148852,-0.960552,-0.988276,-0.755465,-0.174698,-0.077014,1.489778,-0.162437,-1.361404,1.617988,1.184168,-0.652260,-1.320615,-0.123737,2.363017
4233,1.153113,0.048975,-0.960552,1.011863,-0.671580,-0.174698,-0.077014,1.489778,-0.162437,1.711312,2.117291,0.764317,0.041477,-0.821610,0.168524,2.363017
4234,1.153113,0.165635,1.000871,1.011863,2.851601,-0.174698,-0.077014,-0.671241,-0.162437,-0.666118,-0.265747,-0.243325,-1.493079,-0.904778,-0.583004,-0.423188
4235,-0.867217,-0.184345,0.020160,1.011863,0.922240,NaN,-0.077014,-0.671241,-0.162437,0.253454,-0.061487,-0.915087,-0.931716,0.675405,0.168524,-0.423188
4236,-0.867217,-0.650984,-0.960552,1.011863,0.502814,-0.174698,-0.077014,-0.671241,-0.162437,-0.598832,-0.265747,0.344466,-1.627904,0.841740,NaN,-0.423188
4237,-0.867217,0.282295,0.020160,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,0.724454,0.051991,0.008585,-1.061638,0.342735,1.045305,-0.423188
4238,1.153113,-1.117623,1.000871,-0.988276,-0.755465,-0.174698,-0.077014,1.489778,-0.162437,-1.159547,0.392425,1.268138,-0.049224,-0.738443,-0.415998,-0.423188
4239,-0.867217,-1.234283,1.000871,1.011863,1.761092,-0.174698,-0.077014,-0.671241,-0.162437,-0.912833,0.029296,0.260496,-1.198915,0.758572,-0.081986,-0.423188

In [37]:
# scales just the top 10 most important comlumns
scale_2 = scale_data(col_interestedin2).head()
scale_2

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1.153113,-1.234283,1.981583,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,-0.935261,-1.196267,-1.083027,0.286614,0.342735,-0.207240,-0.423188
1,-0.867217,-0.417664,0.020160,-0.988276,-0.755465,-0.174698,-0.077014,-0.671241,-0.162437,0.298311,-0.515399,-0.159355,0.718054,1.590247,-0.248992,-0.423188
2,1.153113,-0.184345,-0.960552,1.011863,0.922240,-0.174698,-0.077014,-0.671241,-0.162437,0.186168,-0.220356,-0.243325,-0.112959,-0.073103,-0.499501,-0.423188
3,-0.867217,1.332233,1.000871,1.011863,1.761092,-0.174698,-0.077014,1.489778,-0.162437,-0.262404,0.800946,1.016227,0.681284,-0.904778,0.878299,2.363017
4,-0.867217,-0.417664,1.000871,1.011863,1.173896,-0.174698,-0.077014,-0.671241,-0.162437,1.083311,-0.106878,0.092555,-0.662065,0.758572,0.126772,-0.423188

In [38]:
#Scales the entire dataset where missing values have been removed
scale_3 = scale_data(values_removed1)

#Sclaes the top 10 columns from the data, where missing values have been removed
scale_4 = scale_data(values_removed2)

#Scales the entire data set, where missing values have been replaced with median
scale_5 = scale_data(values_replaced1)

#Scales the to 10 columns, where missing values have been replaced with median
scale_6 = scale_data(values_replaced2)

Splitting the Data into training and test sets
======

This fucntion splits the data into 80% training, 20% test

In [39]:
def split_data(dataset,dep_var='TenYearCHD', test_size = 0.2, v = 1):
    '''Split the dataset, return X_train, X_test, y_train, y_test as Pandas Dataframes
    - dataset: Pandas Dataframe. Data to split into training and test data
    - dep_var (optional, default = 'TenYearCHD'): string. Name of column to be dependant variable
    - test_size (optional, default = 0.2): float (0.0-1.0). Proportion of total data to make up test set.
    '''
    from sklearn.model_selection import train_test_split
    y = dataset[dep_var]
    X = dataset.drop([dep_var], axis = 1)
    if v == 1: 
          print('Splitting data set into {}% training, {}% test dataset....'.format(100*(1-test_size),100*test_size))
        
    return train_test_split(X, y, test_size = test_size, random_state=0)

Data Set Splits 
====

Split_one
-----
This is the entire dataset, split into 80% training, 20% test

Split_two
-------
This is the top 10 most important columns from the dataset, which has been split as above, with no other processing

Split_three
-----
This is the whole dataset split as above, where any missing values have been removed

Split_four
----
This is the top 10 most important columns, where the missing values have been removed

Split_five
---
This is the whole dataset, where missing values have been replaced with their median value

Split_six
---
This is the top 10 most important columns, where any missing values have been replaced with their median value

In [43]:
#splits the entire, initial, unprocessed data set into a training and test set
split_one = split_data(dataset)


#splits the top10 columns, but still unprocessed data
split_two = split_data(Top10)

#Splits the whole dataset, where missing values have been removed
split_three = split_data(values_removed1)

#Splits the top10 dataset, where missing values have been removed
split_four = split_data(values_removed2)

#Splits the whole data set, where missing values have been replaced by their median values
split_five = split_data(values_replaced1)

#Splits the Top 10 most important columns, where the missing values have been replaced by their median values
split_six = split_data(values_replaced2)

#Split_one normalised using scale_data
split_seven = split_data(scale_1)

#split_two normalised
split_eight = split_data(scale_2)

#split_three normalised
split_nine = split_data(scale_3)

#split_four normalised
split_ten = split_data(scale_4)

#split_five normalised
split_eleven = split_data(scale_5)

#split_six normalised
split_twelve = split_data(scale_6)

Splitting data set into 80.0% training, 20.0% test dataset....
Splitting data set into 80.0% training, 20.0% test dataset....
Splitting data set into 80.0% training, 20.0% test dataset....
Splitting data set into 80.0% training, 20.0% test dataset....
Splitting data set into 80.0% training, 20.0% test dataset....
Splitting data set into 80.0% training, 20.0% test dataset....
Splitting data set into 80.0% training, 20.0% test dataset....
Splitting data set into 80.0% training, 20.0% test dataset....
Splitting data set into 80.0% training, 20.0% test dataset....
Splitting data set into 80.0% training, 20.0% test dataset....
Splitting data set into 80.0% training, 20.0% test dataset....
Splitting data set into 80.0% training, 20.0% test dataset....

Shows that when data is scaled, it picks up NaN values - unsure as to why

In [70]:
scale_3.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
dtype: int64

In [72]:
values_removed1.isnull().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
dtype: int64

Algorithm applied to values_removed1 - i.e. the whole data set, with any missing values removed
=====

In [45]:
labels = values_removed1.pop("TenYearCHD").values
data = values_removed1.values
#gives the 10 year CHD data the name labels, this is so it can be called specifically later on in code
#split dataset in features and target variable
feature_cols = values_removed1.columns
X = feature_cols # Features
y = labels # Target variable

In [47]:
#Creates test and training sets 
x_train, x_test, y_train, y_test = train_test_split(data, labels,
                                                    test_size=.2,
                                                    random_state=5)

In [48]:
# Create Decision Tree classifer object
clf = tree.DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(x_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8579234972677595

Algorithm applied to values_removed2 - i.e. top 10 most important columns, where missing values were removed
=====

In [49]:
labels2 = values_removed2.pop("TenYearCHD").values
data2 = values_removed2.values
#gives the 10 year CHD data the name labels, this is so it can be called specifically later on in code
#split dataset in features and target variable
feature_cols = values_removed2.columns
X = feature_cols # Features
y = labels # Target variable

In [53]:
#Creates test and training sets 
x_train2, x_test2, y_train2, y_test2 = train_test_split(data2, labels2,
                                                    test_size=.2,
                                                    random_state=5)

In [55]:
# Create Decision Tree classifer object
clf = tree.DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(x_train2,y_train2)

#Predict the response for test dataset
y_pred2 = clf.predict(x_test2)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test2, y_pred2))

Accuracy: 0.8424908424908425

Algorithm applied to values_removed1 - i.e. the whole data set, where any missing values have been replaced with the median value
====

In [56]:
labels3 = values_replaced1.pop("TenYearCHD").values
data3 = values_replaced1.values
#gives the 10 year CHD data the name labels, this is so it can be called specifically later on in code
#split dataset in features and target variable
feature_cols = values_replaced1.columns
X = feature_cols # Features
y = labels # Target variable

In [57]:
#Creates test and training sets 
x_train3, x_test3, y_train3, y_test3 = train_test_split(data3, labels3,
                                                    test_size=.2,
                                                    random_state=5)

In [58]:
# Create Decision Tree classifer object
clf = tree.DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(x_train3,y_train3)

#Predict the response for test dataset
y_pred3 = clf.predict(x_test3)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test3, y_pred3))

Accuracy: 0.8408018867924528

Algorithm applied to values_removed2 - i.e. the top 10 columns, where any missing values have been replaced with the median value
====

In [59]:
labels4 = values_replaced2.pop("TenYearCHD").values
data4 = values_replaced2.values
#gives the 10 year CHD data the name labels, this is so it can be called specifically later on in code
#split dataset in features and target variable
feature_cols = values_replaced2.columns
X = feature_cols # Features
y = labels # Target variable

In [60]:
#Creates test and training sets 
x_train4, x_test4, y_train4, y_test4 = train_test_split(data4, labels4,
                                                    test_size=.2,
                                                    random_state=5)

In [61]:
# Create Decision Tree classifer object
clf = tree.DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(x_train4,y_train4)

#Predict the response for test dataset
y_pred4 = clf.predict(x_test4)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test4, y_pred4))

Accuracy: 0.8431603773584906

In [62]:
labels5 = scale_3.pop("TenYearCHD").values
data5 = scale_3.values
#gives the 10 year CHD data the name labels, this is so it can be called specifically later on in code
#split dataset in features and target variable
feature_cols = scale_3.columns
X = feature_cols # Features
y = labels # Target variable

In [63]:
#Creates test and training sets 
x_train5, x_test5, y_train5, y_test5 = train_test_split(data5, labels5,
                                                    test_size=.2,
                                                    random_state=5)

In [64]:
# Create Decision Tree classifer object
clf = tree.DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(x_train5,y_train5)

#Predict the response for test dataset
y_pred5 = clf.predict(x_test5)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test5, y_pred5))

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').